html {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: black;
}
span {
  background: -webkit-linear-gradient(bottom, black 54%, floralwhite 60.3%, black 60.4%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  margin: 0;
  text-align: center;
  background-color: white;
  height: 452px;
  width: 452px;
  font-size: 512px;
  font-family: Calibri;
  font-weight: bold;
}